<div class="colorlib-loader"></div>

<div id="page">

	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="index.html">Home</a></span> / <span>Shopping Cart</span></p>
				</div>
			</div>
		</div>
	</div>


	<div class="colorlib-product">
		<div class="container">
			<div class="row row-pb-lg">
				<div class="col-md-10 offset-md-1">
					<div class="process-wrap">
						<div class="process text-center active">
							<p><span>01</span></p>
							<h3>Shopping Cart</h3>
						</div>
						<div class="process text-center">
							<p><span>02</span></p>
							<h3>Checkout</h3>
						</div>
						<div class="process text-center">
							<p><span>03</span></p>
							<h3>Order Complete</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-pb-lg">
				<div class="col-md-12">
					
						<table style="width: 100%;">
							<thead>
								<tr>
									<th class="one-forth text-left px-4">Product</th>
									<th class="one-eight text-center">Quantity</th>
									<th class="one-eight text-center">Total</th>
									<th class="one-eight text-center px-4">Remove</th>
								</tr>
							</thead>
							<tbody>
								<div class="product-name d-flex">
								{{#if cart.items}}
								{{#each cart.items}}
								<tr class="{{#unless this.productId.isListed}}unavailable-product{{/unless}}">
									<td class="product__cart__item">
										<div class="product__cart__item__pic">
											<img class="cart-img"
												src="/uploads/product-images/{{this.productId.productImage.[0]}}"
												alt="">
										</div>
										<div class="product__cart__item__text">
											<h6>
												{{this.productId.productName}}
												{{#if this.productId.isBlocked}}
												<span class="text-danger">(Product Unavailable)</span>
												{{else}}
												{{#if this.productId.category}}
												{{#unless this.productId.category.isListed}}
												<span class="text-danger">(Category Unavailable)</span>
												{{/unless}}
												{{/if}}
												{{/if}}
											</h6>
											<h5>₹{{this.productId.finalPrice}}</h5>
										</div>
									</td>

									<td class="quantity__item">
										<div class="custom-quantity-input">
											<button class="quantity-btn"
												onclick="updateItemQuantity('{{this.productId._id}}', 'decrease')">-</button>
											<input type="number" class="quantity-value" value="{{this.quantity}}"
												min="1"
												onchange="updateItemQuantity('{{this.productId._id}}', 'set', this.value)"
												readonly>
											<button class="quantity-btn"
												onclick="updateItemQuantity('{{this.productId._id}}', 'increase')">+</button>
										</div>
									</td>

									<td class="cart__price">₹{{this.totalPrice}}</td>

									<td class="cart__close">
										<a href="javascript:void(0);" onclick="confirmRemove('{{this.productId._id}}')">
											<i class="fa fa-close"></i>
										</a>
									</td>
								</tr>
								{{/each}}
								{{else}}
								<tr>
									<td colspan="4" class="text-center">No products in the cart</td>
								</tr>
								{{/if}}
								</div>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row row-pb-lg">
				<div class="col-md-12">
					<div class="total-wrap">
						<div class="row">
							<div class="col-sm-8">
								<form action="#">
									<div class="row form-group">
										<div class="col-sm-9">
											<input type="text" name="quantity" class="form-control input-number"
												placeholder="Your Coupon Number...">
										</div>
										<div class="col-sm-3">
											<input type="submit" value="Apply Coupon" class="btn btn-primary">
										</div>
									</div>
								</form>
							</div>
							<div class="col-sm-4 text-center">
								<div class="total">
									<div class="sub">
										<p><span>Subtotal:</span> <span>$200.00</span></p>
										<p><span>Delivery:</span> <span>$0.00</span></p>
										<p><span>Discount:</span> <span>$45.00</span></p>
									</div>
									<div class="grand-total">
										<p><span><strong>Total:</strong></span> <span>$450.00</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
					<h2>Related Products</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-lg-3 mb-4 text-center">
					<div class="product-entry border">
						<a href="#" class="prod-img">
							<img src="images/item-1.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
						</a>
						<div class="desc">
							<h2><a href="#">Women's Boots Shoes Maca</a></h2>
							<span class="price">$139.00</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 mb-4 text-center">
					<div class="product-entry border">
						<a href="#" class="prod-img">
							<img src="images/item-2.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
						</a>
						<div class="desc">
							<h2><a href="#">Women's Minam Meaghan</a></h2>
							<span class="price">$139.00</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 mb-4 text-center">
					<div class="product-entry border">
						<a href="#" class="prod-img">
							<img src="images/item-3.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
						</a>
						<div class="desc">
							<h2><a href="#">Men's Taja Commissioner</a></h2>
							<span class="price">$139.00</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 mb-4 text-center">
					<div class="product-entry border">
						<a href="#" class="prod-img">
							<img src="images/item-4.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
						</a>
						<div class="desc">
							<h2><a href="#">Russ Men's Sneakers</a></h2>
							<span class="price">$139.00</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>